#container{
	text-align:center;
	font-size:120%;
}

#text1{
	padding-top:90px;
	
}

#text2{
	padding-top:20px;
}

#container div{
	margin-top:10px;
}

#login{
	margin-top:10px;
	padding:10px 30px 10px 30px;

}
